.Comments {
  width: 100%;
  min-height: 100%;
  background-color: transparent;
  display: inline;
  align-content: center;
  overflow: none;
  overflow-y: auto;
}

.title_comments {
  width: 100%;
  height: 10%;
  color: green;
  font-size: 1.3em;
  padding-left: 8%;
  text-align: left;
}

.for_coment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 400px;
}

.coments {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.botun_borrar,
.buton_editar {
  border: none;
  width: 3em;
  height: 5vh;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 2%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.botun_borrar {
  background-image: url('https://cdn-icons-png.flaticon.com/512/3405/3405244.png');
}


.buton_editar {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png');
}

.buton_editar .guardar{
  background-image: url('https://cdn0.iconfinder.com/data/icons/game-ui-casual-chunky/533/IconsByAndreaFryer_GameUI_Chunky_Save-512.png');
}
/* Estilo cuando se pasa el cursor sobre los botones */
.botun_borrar:hover,
.buton_editar:hover {
  background-color: #d32f2f;
  /* Cambia el color de fondo al pasar el cursor */
}

.button_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.coments_buton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.material-symbols-outlined {
  font-family: "Material Icons";
  font-size: 24px;
  vertical-align: middle;
}

.section_comment_profile {
  position: relative;
  width: 95%;
  left: 2.5%;
  height: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
}

.container_icon_user {
  width: 12%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.icon_user {
  width: 90%;
  height: 50%;
  background-color: rgb(245, 244, 247);
  clip-path: circle();
  background-image: url("../../assets/icons/user_icon.svg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.text_container {
  width: 80%;
  height: auto;
  background-color: rgba(71, 247, 164, 0.637);
  border-radius: 0.5rem;
  padding-left: 2%;
}

.text_container>textarea {
  width: 65%;
  /* Ancho del 100% para que se ajuste al contenedor */
  border-radius: .5em;
  min-height: 8vh;
  overflow: hidden;
  height: auto;
  background-color: rgba(136, 225, 188, 0.726);
  padding-left: 3%;
  outline: none;
  resize: none;
  padding: 1em;
}

.text_container>header {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.text_name {
  font-size: 1.2em;
}

.text_time {
  font-size: .8em;
  color: #23673a;
}

.text_content {
  font-size: 1em;
  margin: 0px 30px 30px 0;
  text-align: justify;
}

@media (max-width: 450px) {
  .section_comment_profile {
    align-items: flex-start;
  }

  .text_content {
    font-size: 0.8em;
  }
}