.custom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}

.custom-image-section {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5em;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.custom-image-section>button {
    position: relative;
    height: 25vh;
    width: 25%;
    border: dashed 1px gray;
    border-radius: 0.5rem;
    color: transparent;
    background-image: url("https://static.thenounproject.com/png/3752804-200.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    filter: contrast(0%);
    background-color: transparent;
    box-shadow: 1px 1px 10px 1px black;
    cursor: pointer;
}

.custom-img-product {
    width: 20%;
    min-height: 20vh;
    border-radius: 0.5em;
    border: solid 2px #7373739c;
    object-fit: contain;
}

.custom-image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    max-height: 10vh;
    margin-bottom: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.custom-image-preview {
    object-fit: contain;
    width: 100%;
    height: 100%;
    min-height: 25vh;
    object-fit: contain;
    border-radius: 0.5em;
    border: solid 2px #7373739c;
}

.custom-delete-button {
    position: relative;
    z-index: 2;
    top: 0;
    left: 7%;
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.custom-form-section {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.custom-product-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 40em;
    height: 80vh;
}

.custom-titulo-p {
    padding: 3%;
    display: flex;
    flex-direction: initial;
    justify-content: start;
}

.custom-formu-p {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.custom-form-group {
    width: 50%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.custom-p-2 {
    width: 80%;
    border: solid 1px gray;
    border-radius: 0.3rem;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.397);
    outline: none;
    font-family: 'karla';
    padding: 1em;
}

.custom-p-3 {
    border: solid 1px gray;
    text-align: left;
    /* Alinea el texto a la izquierda */
    vertical-align: top;
    /* Alinea el texto en la parte superior */
    height: auto;
    min-height: 23vh;
    border-radius: 0.3rem;
    resize: none;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.397);
    width: 80%;
}


.custom-actualizar-p {
    border: none;
    color: white;
    background-color: red;
    border-radius: 2.5em;
    width: 30%;
    padding: 16px;
    cursor: pointer;
}

.custom-boton-actualizar {
    position: relative;
    top: 10%;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-p-1 {
    width: 50%;
    padding: 1%;
}