
@keyframes hover_button {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}

/*animacion menu-responsive*/

@keyframes open_menu {
    from {
        right: -999px;
    }
    to {
        right: 0;
    }
}

@keyframes close_menu {
    from {
        right: 0;
        opacity: 1;
        z-index: 3;
    }
    to {
        right: -999px;
        z-index: -1;
        opacity: 0;
    }
}
/* animacion de cargando */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }