.card_container {
    position: relative;
    width: 80%;
    left: 10%;
    min-height: 80vh;
    height: auto;
    overflow-y: auto;
    /* background-color: rgb(238, 238, 238); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
}
.filtros{
    position: relative;
    min-height: 80vh;
    height: 100%;
    overflow-y: auto;
    background-color: white;
   
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 0px;
    overflow: hidden;
    overflow-y: auto;
}
.card_container_categories {
    position: relative;
   
    min-height: 80vh;
    height: 80vh;
    overflow-y: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 0px;
    overflow: hidden;
    overflow-y: auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 93%;
    height: 42vh;
    border-radius: .4rem;
    box-shadow: 1px 10px 10px 5px rgb(136, 136, 136);
    flex-direction: column;
    margin: 2%;
    margin-top: 8%;
}


/* diseño de tarjeta para el contendor del slider o el slider */
.card_container_similar {
    position: relative;
    width: 90%;
    min-height: 80%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    left: 5%;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: green transparent; /* Color del scrollbar */
}

/* Estilo para navegadores Webkit (Chrome, Safari, etc.) */
.card_container_similar::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.card_container_similar::-webkit-scrollbar-thumb {
    background-color: rgb(96, 209, 166); /* Color de la parte desplazable del scrollbar */
}

.card_container_similar::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo del scrollbar */
}


.card_similar {
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 38vh;
    border-radius: .4rem;
    box-shadow: 1px 10px 10px 5px rgb(136, 136, 136);
    flex-direction: column;
    margin: 2%;
}

/*se desactiva el texto de descuento para las tarjetas que no tienen descuento*/
.card_similar>.text_discount,
.card>.text_discount {
    display: none;
}

/*card similar with discount */
.card_discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 45vh;
    border-radius: 0.4rem;
    box-shadow: 1px 10px 10px 5px rgb(136, 136, 136);
    flex-direction: column;
    margin-top: 8%;
    overflow: hidden;
}

.text_discount {
    display: flex;
}

.card_discount>.text_discount {
    position: relative;
    left: -20%;
    top: -10%;
    width: 100%;
    height: 10%;
    background-color: red;
    color: wheat;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20%;
    align-items: center;
    transform: rotate(-35deg);
}


.card_container_similar::selection {
    background-color: red;
}

.card_container_similar::selection {
    background-color: red;
}

.card_discount>img {
    height: 50%;
    width: 12em;
    object-fit: contain;
}

.card_similar>img {
    height: 50%;
    width: 15em;
    object-fit: cover;
}

.card>img {
    height: 50%;
    width: 12em;
    object-fit: contain;
}

.texto_descuento,
.texto_nombre,
.texto_precio,
.texto_cuotas {
    height: auto;
    width: 80%;
    margin-top: 2%;
    color: black;
}

.texto_descuento {
    color: red;
}

.texto_nombre.texto_cuotas {
    color: black;
}

.texto_precio {
    color: green;
}

.texto_descuento {
    text-decoration: line-through;
}

.texto_nombre {
    font-weight: bold;
    font-size: 15px;
}

.texto_cuotas {
    font-size: 14px;
}
.category-title {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
  }
  .arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    color: #333;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  /* Estilos para el ícono de Font Awesome */
  .arrow-icon {
    margin-right: 10px; /* Espacio entre el ícono y el texto del botón */
  }
  
  /* Estilo de fondo al pasar el ratón */
  .arrow-button:hover {
    background-color: #f0f0f0;
  }
/*responsive*/

@media (max-width:1200px) {
    .card_container {
        width: 100%;
        left: 0;
    }

   

    .card {
        width: 98%;
    }

    .card_discount {
        width: 85%;
    }
}

@media (max-width:980px) {

    .menu_categories ul>a,
    li {
        font-size: .9em;
    }
    .card_similar{
        width: 35em;
    }
    
}
@media (max-width:905px) {
    .container_comments{
        left: 2%;
    }
    .form_add_item_cart{
        padding: 40px;
    }
    .slider_similar_bike{
        margin-top: 12%;
    }
    .form_add_item_cart>button{
        width: 43%;
        height: 10%;
    }
}
@media (max-width:800px) {

    .card_container {
        position: relative;
        width: 100%;
        min-height: 80vh;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 4 columnas con ancho fraccionado */
        /* grid-auto-rows: 100px; */
        padding: 40px;
    }

    .card_container_categories {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu_categories {
        width: 35%;
    }

    .card {
        width: 300px;
        height: 40vh;
        margin-top: 10%;
    }
}

@media (max-width:720px) {
    .card_container_categories {
        width: 100%;
    }


}

@media (max-width:690px) {
    .card {
        width: 100%;
        height: 40vh;
        margin-top: 10%;
    }


}

@media (max-width:475px) {
    .card_container {
        padding: 10px;
    }

    .card {
        width: 100%;
        height: 32vh;
        margin-top: 10%;
    }

    .card_discount {
        height: 32vh;
    }
}

@media (max-width:405px) {
    .card_discount {
        height: 28vh;
    }

    .card_discount>img {
        width: 90%;
    }

    .texto_descuento {
        text-decoration: line-through;
        font-size: .8em;
    }

    .texto_nombre,
    .texto_precio {
        font-size: .7em;
    }

    .texto_cuotas {
        font-size: .6em;
    }
}

@media (max-width:350px) {
    .card {
        height: 25vh;
    }

    .card_discount {
        height: 25vh;
    }

    /* .card_container {
        grid-template-columns: repeat(1, 1fr);
        padding: 40px;
    }

    .card {
        height: 40vh;
    } */
}

@media (max-width:530px) {
    .slider_similar_bike{
        order: 8;
    }
}