.car_comp{
    position: relative;
    margin: 20px;
    width: 80%;
    height: 80vh;
    left: 10%;
    background-color: rgb(216, 209, 209);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.car_comp > h1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

/* aca va el de los conotenedores */
.Cart_compras_carrito{
    width: 50%;
    height: 20%;
    background-color: aqua;
    position: relative;
    display: flex;
    
    
    
}