.car_comp {
    position: relative;
    margin: 20px;
    width: 80%;
    height: 80vh;
    left: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 5px 4px 4px rgba(128, 128, 128, 0.452);


}



.car_comp>h1 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

/* aca va el de los conotenedores */
.Cart_compras_carrito {
    width: 75%;
    height: 27%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0 .5rem .5rem 0;
    border: none;
    border-left: solid 5px #7EE29A;



}

.Cart_compras_carrito::after {
    content: "";
    width: 1em;
    height: 1em;
    left: -1.8%;
    top: 20%;
    clip-path: circle();
    background-color: #7EE29A;
    position: absolute;
}

.Cart_compras_carrito>h2 {
    margin-left: 6%;
    width: 100%;
    height: 26%;
}

.info_bici_compra {
    width: 100%;
    height: 74%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
}

/*botones de aumentar productos*/
.botones_compra{
    width: 36%;
    margin-left: 2%;
    align-items: end;
    display: flex;
}

.boton1 {
    margin: 1%;
    width: 21%;
    height: 32%;
    color: transparent;
    border: solid 2px #bef6c4a2;
    border-radius: 0.9em;
    background-color: transparent;
}
.boton2{
    margin: 1%;
    width: 38%;
    height: 32%;
    border: solid 2px #bef6c4a2;
    border-radius: 0.5em;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.su_re{
    background-color: transparent;
    border: none;
}

/*imagen de contenedor de compras*/
.img_bicci {
    width: 27%;
    height: 100%;
    position: relative;
    object-fit: contain;
    margin-right: 10px;
}

/* here is the one with the purchase values and purchase button */

.precios_pagos {
    width: 100%;
    height: 25%;
    position: relative;
    top: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column-reverse;

}

.info_pc {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 6%;
}


/* confing button */

.carro_pagar {
    width: 17%;
    position: relative;
    height: 100%;
    object-fit: contain;
    margin-right: 10px;

}

.pagar {
    width: 45%;
    height: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7EE29A;
    color: white;
    border: 0;
    border-radius: .5em;
}