.car_comp {
    overflow: hidden;
    position: relative;
    margin: 20px;
    width: 80%;
    height: auto;
    left: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 5px 4px 4px rgba(128, 128, 128, 0.452);
    overflow: hidden;
    overflow-y: auto;
}


.car_comp>h1 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.descrip_produc {
    font-size: .5em;
}

/* aca va el de los conotenedores */
.Cart_compras_carrito {
    width: 75%;
    height: 27%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0 .5rem .5rem 0;
    border: none;
    border-left: solid 5px #7EE29A;
    margin-top: .5em;
}

.Cart_compras_carrito::after {
    content: "";
    width: 1em;
    height: 1em;
    left: -1.3%;
    top: 20%;
    clip-path: circle();
    background-color: #7EE29A;
    position: absolute;
}

.Cart_compras_carrito>h2 {
    margin-left: 6%;
    width: 100%;
    height: 26%;
}
.descrip_produc h2 {
    margin-left: 6%;
    width: 100%;
    height: 26%;
    font-size: 3em;
}
.info_bici_compra {
    width: 100%;
    height: 74%;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
}

/*botones de aumentar productos*/
.botones_compra {
    width: 36%;
    margin-left: 2%;
    align-items: end;
    display: flex;
}

.boton1 {
    background-color: transparent;
    margin: 1%;
    width: auto;
    height: 14%;
    border: solid 2px #bef6c4a2;
    border-radius: 0.5em;
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton1>i {
    margin: 0;
    /* Añade un margen derecho al ícono */
    color: #000000;
    /* Cambia el color del ícono */
}

.boton2 {
    margin: 1%;
    width: auto;
    height: 14%;
    border: solid 2px #bef6c4a2;
    border-radius: 0.5em;
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.su_su {
    margin-right: 11%;
    background-color: transparent;
    border: none;
}

.su_su>i {
    margin: 0;
}

.su_re {
    margin-left: 11%;
    background-color: transparent;
    border: none;
}

.su_re>i {
    margin: 0;
}

/*imagen de contenedor de compras*/
.img_bicci {
    width: 27%;
    height: 100%;
    position: relative;
    object-fit: contain;
    margin-right: 10px;
}

/* here is the one with the purchase values and purchase button */

.precios_pagos {
    width: 100%;
    height: 25%;
    position: relative;
    /* top: 33%; */
    margin-top: 13%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column-reverse;

}

.info_pc {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin: 6%;
}


/* confing button */

.carro_pagar {
    width: 17%;
    position: relative;
    height: 100%;
    object-fit: contain;
    margin-right: 10px;
    margin-left: 6px;

}

.pagar {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7EE29A;
    color: white;
    border: 0;
    border-radius: .5em;
    cursor: pointer;
}
.pagar-1 {
    width: 54%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7EE29A;
    color: white;
    border: 0;
    border-radius: .5em;
    
}
.pagar-2 {
    width: 54%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7EE29A;
    color: white;
    border: 0;
    border-radius: .5em;
    
}
.pagar-3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7EE29A;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000; /* Asegura que esté en la parte superior de otros elementos */
  }
  /* CSS para el mensaje de error */

  /* CSS para el botón deshabilitado */
  .pagar.disabled {
   /* Color de fondo gris para el botón deshabilitado */
    cursor: not-allowed; /* Cambia el cursor a 'no permitido' */
  }
  