/* PaymentForm.css */

.payment-form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 50%;
  margin: 5% auto;
  height: 70vh;
  border: solid rgb(173, 172, 172) 1px;
  box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.473);
  border-radius: 0.4rem;
  padding: 20px;
  top: 5%;
}
.pay {
  outline: none;
  padding: 5px;
  border: none;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.thank-you-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Asegura que esté encima de todo el contenido */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
  display: flex;
  justify-content: center;
  align-items: center;
}


button[type="submit"]:hover {
  background-color: #267bd4;
}
.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-icon-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
}
.payment-form button {
  width: 50%;
  height: 3em;
  background-color: rgb(128, 221, 182);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
i {
  margin-left: 10px; /* Espacio entre el input y el icono */
}
/* CSS para centrar un mensaje en la pantalla con fondo y texto personalizados */
.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Esto asegura que ocupe toda la altura de la pantalla */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

/* Estilos para el mensaje en sí */
.success-message-content {
  background-color: #7ee29a; /* Color de fondo personalizado */
  color: white; /* Color del texto */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
@media (max-width: 768px) {
  .payment-form {
    grid-template-columns: 1fr;
    max-width: 80%;
    border: none;
    box-shadow: none;
    height: initial;
  }
  /* Asegurarse de que los elementos ocupen todo el ancho en una sola columna */
  .input-container {
    width: 100%;
  }
  .payment-form button {
    width: 100%;
  }
}

/* Estilos para pantallas aún más pequeñas (por ejemplo, smartphones) */
@media (max-width: 480px) {
  .payment-form {
    max-width: 90%; 
    padding: 1px;
  }
  /* Asegurarse de que los elementos ocupen todo el ancho en una sola columna */
  .input-container {
    width: 100%;
  }
  .payment-form button {
    width: 100%;
  }
}