.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

.select {
  width: 80%;
  border: solid 1px gray;
  border-radius: 0.3rem;
}

.close_register_products {
  background-image: url("https://cdn.icon-icons.com/icons2/3257/PNG/512/close_icon_206100.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px;
  width: 3em;
  height: 3em;
  clip-path: circle();
  position: absolute;
  float: right;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 120%;
  left: -20%;
  align-items: center;
  flex-wrap: wrap;
  top: 10%;
  height: 70%;
}

.image-section {
  width: 80%;
  position: relative;
  left: 5%;
  top: 10%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.uploaded-images>button {
  position: relative;
  height: 25vh;
  width: 25%;
  border: dashed 1px gray;
  border-radius: 0.5rem;
  color: transparent;
  background-image: url("https://static.thenounproject.com/png/3752804-200.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  filter: contrast(0%);
  background-color: transparent;
  box-shadow: 1px 1px 10px 1px black;
  cursor: pointer;
}

.product-form {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.product-form>button {
  float: right;
  position: relative;
  border: none;
  color: white;
  left: 50%;
  width: 25%;
  border-radius: 0.4rem;
  height: 8vh;
  background-color: #00ffb7;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    box-shadow: 1px 1px 6px 2px #056147bd;
    transition: .5s;
  }
}

.form-group {
  display: flex;
  width: 50%;
  height: 10vh;
  flex-direction: column;
  margin-top: 10px;
}

.form-group>input {
  width: 80%;
  border: solid 1px gray;
  border-radius: 0.3rem;
}

.form-group>input,
.select,
.form-group>textarea {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.397);
  outline: none;
  font-family: 'karla';
  padding: 1em;
}

.select {
  width: 80%;
  border: solid 1px gray;
  border-radius: 0.3rem;
  width: 80%;
  height: 80%;
}

.form-group>textarea {
  border: solid 1px gray;
  height: auto;
  min-height: 23vh;
  border-radius: 0.3rem;
  resize: none;
  width: 80%;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.uploaded-images {
  position: absolute;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
}

.image-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 15%;
  height: 20vh;
  margin-left: 3em;
}

.image-preview {
  max-width: 6em;
  max-height: 25vh;
  min-height: 25vh;
  position: absolute;
  object-fit: contain;
}

.delete-button {
  position: relative;
  z-index: 2;
  top: 0;
  left: 50%;
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}