
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0;
}

.split-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side {
  flex: 1;
 
}

.left-side img {
  max-width: 100%;
  border-radius: 0px 15px 15px 0px;
  height: 100vh;
  width: 100%;
}

.right-side {
  flex: 1;
  padding: 20px;
}

.form-container {
  max-width: 800px; 
  margin: 0 auto;
}

.form-row {
  display: flex;
  align-items: center; 
  gap: 20px;
  margin-bottom: 10px; 
}

#form1 {
  display: grid;
  gap: 10px;
}

h1 {
  text-align: start;
}

.form-row input {
  width: 170px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 170px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #007bff;
  background-color: #fff; /* Añade un fondo para mejorar la visibilidad */
  padding: 5px 10px; /* Ajusta el espaciado del botón */
}

.close-button i {
  margin-right: 5px;
}

.form-row i {
  font-size: 16px;
}

  